{% extends 'base.html.twig' %}

{% block title %} Bienvenue{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="fixed ml-[42%]">
            <div id="toast-success" class="flex items-center w-full max-w-xs p-4 mb-4 rounded-lg shadow text-gray-400 bg-gray-800 " role="alert">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 rounded-lg bg-green-800 text-green-200">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                    </svg>
                    <span class="sr-only">Check icon</span>
                </div>
                <div class="ms-3 text-sm font-normal">{{ message }}</div>
                <button type="button" class="ms-auto -mx-1.5 -my-1.5 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 inline-flex items-center justify-center h-8 w-8 text-gray-500 hover:text-white bg-gray-800 hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                </button>
            </div>
        </div>
    {% endfor %}
    <section class="w-full h-auto mb-[2%] mt-[1%]">
        <div class="flex justify-between items-start mx-[5%]">
            <img src="{{ asset('uploads/logo_lmfleur blanc.png') }}" alt="logo de Lisa Muller" class="h-24 md:h-40">
            <nav>
                <div class="text-2xl">
                    <ul class="list-menu">
                        <li>
                            <a class="link-menu" href="#apropos">
                                <h3>A propos</h3>
                            </a>
                        </li>
                        <li>
                            <a class="link-menu" href="#projets">
                                <h3>Projets</h3>
                            </a>
                        </li>
                        <li>
                            <a class="link-menu" href="#contact">
                                <h3>Contact<h3>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="flex flex-col-reverse mx-[5%] my-[45%] md:mt-[10%] md:mb-[0] md:mx-[10%]">
            <h1 class="text-6xl uppercase">Faisons de</br> grandes choses</br> ensemble !</h1>
            <h2 class="text-2xl">Lisa Muller - Graphiste Freelance</h2>
        </div>

        <div class="relative md:bottom-[25rem] z-[-1]">
            <img src="{{ asset('uploads/fleurpourfondnoir.png') }}" alt="logo de Lisa Muller pour fond noir" class="opacity-40 absolute bottom-[-10rem] right-[-5rem] md:h-[53rem] md:right-0 md:top-0 ">
        </div>

        <div class="mx-[5%] my-[5%] md:mt-[12%]">
            <i>
                <a href="https://www.linkedin.com/in/lisa-muller-20a166155/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-linkedin mt-[5%] mb-[2%]" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                    </svg>
                </a>
            </i>
            <i>
                <a href="https://www.instagram.com/lisavizuals/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                        <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
                    </svg>
                </a>
            </i>
        </div>
    </section>

    <section class="bg-white text-black" id="apropos">
        <div class="text-[2.50rem] text-center uppercase p-4 marquee-rtl">
            <h4>
                Conception d'identités visuelles - Logos - Flyers - Cartes de visites - Packagings
            </h4>
        </div>
    </section>

    <section class="my-[5%]">
        <div class="flex items-center flex-col mx-[5%] md:mx-[10%] md:flex-row">
            <article class="m-[%5] md:w-[50%] md:mr-[10%]">
                <div class="md:mb-[5%]">
                    <h4 class="text-2xl uppercase">À propos</h4>
                </div>
                <div>
                    <p class="text-justify whitespace-pre-line">
                        {{about.description|striptags }}
                    </p>
                </div>
            </article>
            <article class="m-[5%] clip-zone md:w-[50%]">
                <img src="{{ about_images ~ about.name }}" alt="Selfie de Lisa Muller" class="clipped">
            </article>
        </div>
    </section>

    <section class="bg-white text-black py-[5%]">
        <article class="mx-[10%]">
            <div>
                <h4 class="text-2xl uppercase mb-[5%]">Prestations</h4>
            </div>
        </article>
        <article class="flex justify-center ml-[10%]">
            <div class="flex flex-col md:flex-row">
            {% for prestation in prestations %}
                <article class="prestation-class overflow-hidden">
                    <img src="{{ prestations_images ~ prestation.name }}">
                    <div class="w-full my-[2%] text-justify">
                        <h5 class="text-xl my-[2%]">{{ prestation.titre }}</h5>
                        <p>
                            {{ prestation.description|striptags }}
                        </p>
                    </div>
                </article>
            {% endfor %}
            </div>
        </article>
    </section>

    <div id="projets">
    </div>

    <section class="my-[5%]">
        <article>
            <div class="mx-[10%]">
                <h4 class="text-2xl uppercase my-[5%]">Projets</h4>
            </div>
        </article>
        <article class="mx-[5%] container-projet">
            <div class="parent">
            {% for projet in projets %}
                <div class="container">
                    <a href="{{ projet.lien }}">
                        <img src="{{ projet_images ~ projet.name }}" class="projet-img">
                        <div class="overlay">                    
                            <div class="items"></div>
                            <div class="div1 items head">
                                <p>{{ projet.titre }}</p>
                                <hr>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        </article>
    </section>

    <section class="pt-[1%] pb-[5%] bg-white text-black" id="contact">
        <article>
            <div class="mx-[10%]">
                <h4 class="text-2xl uppercase my-[5%]">Collaborons !</h4>
            </div>
        </article>
        <article class="w-[71%] md:w-1/2 my-0 mx-auto">

            {{ form_start(form) }}

                <div class="flex justify-between items-end mb-[2%]">
                    <div class="w-[48%]">
                        {{form_label(form.prenom)}}
                        {{form_widget(form.prenom)}}
                    </div>
                    <div class="w-[48%]">
                        {{form_label(form.nom)}}
                        {{form_widget(form.nom)}}
                    </div>
                </div>
                <div class="mb-[2%]">
                    {{form_label(form.email)}}
                    {{form_widget(form.email)}}
                </div>
                <div class="mb-[2%]">
                    {{form_label(form.sujet)}}
                    {{form_widget(form.sujet)}}
                </div>
                <div class="mb-[2%]">
                    {{form_label(form.message)}}
                    {{form_widget(form.message)}}
                </div>
                <div class="flex justify-center m-[5%]">
                    <button type="submit" class="flex w-1/2 md:w-[15%] justify-around items-center text-white bg-black hover:bg-gray-500 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5">
                        Envoyer 
                        <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                        </svg></i>
                    </button>
                </div>

            {{ form_end(form) }}
 
        </article>
    </section>

{% endblock %}
