<!DOCTYPE html>
<html>
    <head>
        <title>Lisa Muller - {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('uploads/logo_lmnoir-simple.svg') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="mobile-web-app-capable" content="yes">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="overflow-x-hidden">
        {% block body %}{% endblock %}
        <footer class="m-[1%]">
            <article class="flex justify-center">
                <div class="w-full">
                    <ul class="flex flex-row justify-around">
                        <li><a href="{{ path('app_ml')}}" target="_blank"><h5>Mentions légales</h5></a></li>
                        <li><a href="{{path('app_cgv')}}" target="_blank"><h5>Conditions générales de vente</h5></a></li>
                        <li><a href="#" target="_blank"><h5>Politique de confidentialité</h5></a></li>
                    </ul>
                </div>
            </article>
        </footer>
    </body>
</html>
